<!DOCTYPE html><html lang="vi">

<%-include('partials/head')%>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            
            <%-include('partials/sidebar')%>
            
            <%-include('partials/header')%>

            <%-include(main)%>
            
            

            <%-include('partials/footer')%>
            
        </div>
    </div>

    <%-include('partials/js')%>

</body></html>